// JOVA ACUPUNCTURE - CUSTOM LESS FILE


//
//
// VARIABLES

// Colors
@jova-blue: rgba(41,170,226,1); //#29aae2
@jova-blue-dark: rgba(39,161,214,1); //#27a1d6
@jova-blue-darker: rgba(33,136,181,1); //#2188b5

@jova-grey: rgba(88,89,91,1); //#58595b
@jova-grey-darker: rgba(77,78,80,1); //#4d4e50

@light-grey: rgba(242,242,242,1); //#f2f2f2
@dark-grey-blue: rgba(4,17,23,1); //#041117
@dark-blue: rgba(20,85,113,1); //#145571

@gold: rgba(248,184,66,1); //#f8b842
@white-gold: rgba(255,252,246,1); //#fffcf6

@white: rgba(255,255,255,1); //#ffffff
@black: rgba(0,0,0,1); //#000000

// Fonts
@raleway: 'Raleway', Arial, Tahoma, sans-serif;
@roboto: 'Roboto', Arial, Tahoma, sans-serif;
@lora: "Lora", Arial, Tahoma, sans-serif;


//
//
// MIXINS

// styles required for fontawesome icons
.fontawesome{
  display: inline-block;

  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-style: normal;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  width: inherit;
  height: inherit;
  font-size: 1em;
  text-align: center;
  text-rendering: optimizelegibility;
}

// transition all
.transition-all{
  transition: all .3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}


//
//
// GLOBALS

// remove underline on all hyperlinks
a:hover,
a:active{
  .transition-all;
  text-decoration: none !important;
}

*:focus{
  outline: none !important;
}

// Reset weird min header height
body:not(.template-slider) #Header{
  min-height: auto;
}
// Remove padding from top of main content container
#Content{
  padding-top: 0;
}
// Reset margin on all divs within a wrapper
.wpb_wrapper > div {
  margin-bottom: 0;
}

// Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

// Fonts
h3,
h4,
h5,
h6{
  color: @jova-grey;
  font-weight: 600;
}
p{
  color: @jova-grey;
  a,
  a:visited{
    color: @jova-blue;
  }
  a:hover,
  a:active{
    color: @jova-blue-darker;
  }
}


// // //

//
//
// STYLES

// Header
//
.header-classic,
.header-stack{
  // Action Bar = address, phone, email, socials
  #Action_bar{
    font-size: 14px;
    font-family: @roboto;
    background-color: @jova-blue-dark !important;
    // set max width of action bar
    .column{
      max-width: 1160px;
      margin: 0 auto;
      float: none;
    }
    .contact_details{
      padding-left: 6px;
      li{
        padding: 10px 0;
        color: white !important;
        a,
        a:visited{
          color: @white;
          font-weight: 500;
          .transition-all;
        }
        a:hover,
        a:active{
          color: rgba(255,255,255,0.85);
        }
        // add map icon to address
        &.slogan{
          font-weight: 500;
          &:before{
            .fontawesome;
            content: '\f041';
            margin: 0 .3em 0 0;
          }
        }
        //change phone icon
        &.phone{
          .icon-phone{
            display: none;
          }
          a{
            &:before{
              .fontawesome;
              content: '\f095';
              margin: 0 .3em 0 0;
            }
          }
        }
        //change email icon
        &.mail{
          .icon-mail-line{
            display: none;
          }
          a{
            &:before{
              .fontawesome;
              content: '\f0e0';
              margin: 0 .3em 0 0;
            }
          }
        }
      }
    }
    .social{
      padding: 10px 0;
      li{
        margin-right: 0px;
        &:last-child{
          margin-right: 0;
        }
        a,
        a:visited{
          padding: 0 5px;
          color: @white;
          font-size: 16px;
        }
        a:hover,
        a:active{
          color: rgba(255,255,255,0.8);
        }
        //change Facebook icon
        &.facebook{
          .icon-facebook{
            &:before{
              .fontawesome;
              content: '\f082';
            }
          }
        }
        //change LinkedIn icon
        &.linkedin{
          .icon-linkedin{
            &:before{
              .fontawesome;
              content: '\f08c';
            }
          }
        }
        //change Instagram icon
        &.instagram{
          .icon-instagram{
            &:before{
              .fontawesome;
              content: '\f16d';
            }
          }
        }
      }
    }
  }
}

// Main Nav
#Top_bar{
  .menu_wrapper{
    float: right;
    margin-right: 20px;
  }
  .column{
    max-width: 1200px;
    margin: 0 auto;
    float: none;
  }
  .menu > li > a,
  .top_bar_right a{
    margin: 60px 0;
    padding: 0;
    color: @jova-grey;
    font-weight: 600;
    span{
      &:not(.description){
        padding: 0 12px;
      }
    }
  }
  .menu > li.hover > a,
  .menu > li.current-menu-item > a,
  .menu > li.current_page_item > a{
    color: @jova-grey;
  }
  .menu > li.current-menu-item.hover > a,
  .menu > li.current_page_item.hover > a{
    cursor: default;
  }

  // Book Appointment Button
  #menu-item-31{
    margin-left: 12px;
    a,
    a:visited{
      margin: 59px 0;
      span{
        padding: 0 20px !important;
        color: @jova-grey;
        background-color: @white-gold;
        -moz-border: 1px solid @gold !important;
        -webkit-border: 1px solid @gold !important;
        border: 1px solid @gold !important;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
      }
      &:hover,
      &:active{
        span{
          .transition-all;
          color: @jova-grey-darker;
          background-color: darken(@white-gold, 1%);
          border-color: darken(@gold, 10%) !important;
        }
      }
    }
  }

  // subMenu (dropdown)
  .menu > li ul{
    background-color: @white;
    li{
      &.hover{
        a{
          color: @jova-grey-darker;
          background: @light-grey;
        }
      }
      a{
        color: @jova-grey;
        &:hover{
          color: @jova-grey-darker;
          background: @light-grey;
        }
      }
    }
  }
  .menu li ul{
    background-image: none;
    li{
      width: 360px;
      &.hover{
        background: @light-grey;
      }
      a{
        border-bottom: 1px solid @light-grey;
      }
    }
  }
  // sticky nav
  &.is-sticky{
    .menu_wrapper .menu > li > a{
      padding: 0;
    }
    .menu > li > a,
    .top_bar_right a{
      margin: 15px 0;
    }

    #menu-item-31 a{
      margin: 9px 0;
      span{
        line-height: 40px;
      }
    }
  }
}


// Footer
//
#Footer{
  background-color: @white;
  color: @jova-grey;
  font-size: 16px;
  line-height: 22px;
  // wraps entire footer
  .widgets_wrapper{
    padding: 0 0 35px 0;
    background-image: url('/wp-content/uploads/paper-texture.jpg');
    background-position: 0 0;
    background-repeat: repeat;
  }
  // 1st column
  .column.one-fourth:first-child{
    width: 100%;
    margin: 0;
    .widget{
      padding: 0 !important;
    }
    .jova-mission-statement{
      margin: 0 -30vw;
      padding: 50px 0;
      background-color: @dark-grey-blue;
      background-image: url('/wp-content/uploads/blue-diagonal-striped-texture.jpg');
      background-position: 0 0;
      background-repeat: repeat;
      .jova-mission-statement-container{
        max-width: 640px;
        margin: 0 auto;
      }
      h3{
        margin: 0;
        font-size: 30px;
        font-weight: 300;
        line-height: 42px;
        text-align: center;
      }
    }
    .jova-cta{
      margin: 0 -30vw 0 -30vw;
      padding: 30px 0 40px 0;
      background-color: @white-gold;
      background-image: url('/wp-content/uploads/gold-diagonal-striped-texture.jpg');
      background-position: 0 0;
      background-repeat: repeat;
      text-align: center;
      .jova-cta-container{
        margin: 0 auto;
      }
      h3{
        margin: 0 0 20px 0;
        color: @dark-blue;
        font-family: @lora;
        font-size: 36px;
        font-weight: 300;
        line-height: 60px;
      }
      a,
      a:visited{
        display: inline-block;
        font-family: @raleway;
        font-size: 24px;
        font-weight: 600;
        span{
          display: block;
          padding: 0 50px !important;
          color: @white;
          line-height: 60px;
          background-color: @gold;
          -moz-border-radius: 30px;
          -webkit-border-radius: 30px;
          border-radius: 30px;
        }
        &:hover,
        &:active{
          span{
            .transition-all;
            color: @white;
            background-color: darken(@gold, 5%);
          }
        }
      }
    }
  }
  .jova-divider{
    height: 10px;
    margin: 0 -30vw 45px -30vw;
    background-color: @dark-grey-blue;
    background-image: url('/wp-content/uploads/blue-diagonal-striped-texture.jpg');
    background-position: 0 0;
    background-repeat: repeat;
  }
  // 2nd column - Logo
  .column.one-fourth{
    // second column needs to get reset to half width
    &:nth-child(2){
      width: 28%;
      margin: 0 1%;
      img{
        width: 100%;
      }
    }
  }
  // 3rd column - Get in Touch
  .column.one-fourth{
    &:nth-child(3){
      width: 33%;
      margin: 0 1%;
    }
  }
  .jova-contact-info{
    max-width: 280px;
    text-align: center;
    h4{
      margin: 0 0 24px 0;
      color: @dark-grey-blue;
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
    }
    a,
    a:visited{
      .transition-all;
      margin: 0 8px 0 0;
      padding: 1px;
      font-size: 24px;
      opacity: 1;
      &.jova-facebook{
        &:before{
          .fontawesome;
          content: '\f082';
          color: #3b5999;
        }
      }
      &.jova-linkedin{
        &:before{
          .fontawesome;
          content: '\f08c';
          color: #006699;
        }
      }
      &.jova-instagram{
        &:before{
          .fontawesome;
          content: '\f16d';
          color: #3f729b;
        }
      }
    }
    a:hover,
    a:active{
      opacity: 0.8;
    }
    p{
      margin: 0 0 12px 0;
      &:last-child{
        margin: 0;
      }
    }
  }
  // 4th column - Hours
  .column.one-fourth{
    &:nth-child(4){
      width: 33%;
      margin: 0 1%;
    }
  }
  .jova-hours{
    margin-top: -16px;
    text-align: center;
    .jova-hours-container{
      display: inline-block;
      min-width: 170px;
      padding: 18px 20px 18px 20px;
      background-color: white;
      border: 1px solid @light-grey;
    }
    h4{
      margin: 0 0 12px 0;
      color: @jova-grey;
      font-size: 16px;
      font-weight: 700;
    }
    p{
      margin: 0 0 8px 0;
      strong{
        font-size: 14px;
        font-weight: 500;
      }
      &:last-child{
        margin: 0;
      }
    }
  }
  // copyright bar
  .footer_copy{
    background-color: @jova-blue-dark;
    border-top: none;
    color: @light-grey;
    font-size: 13px;
    font-weight: 500;
    .one{
      min-height: 30px;
      margin-bottom: 0 !important;
      padding-top: 0;
    }
    .copyright{
      margin: 0 !important;
      line-height: 30px;
    }
  }
}
// hide socials in copyright bar
.footer-copy-center #Footer .footer_copy .social{
  display: none !important;
}


//
// Headers
#jova-header{
  .vc_column-inner{
    padding: 0;
  }
  padding: 24px;
  h2{
    max-width: 960px;
    margin: 0 auto 20px auto;
    color: @white-gold;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    &:last-child{
      margin: 0 auto;
    }
    strong{
      font-family: @lora;
      font-size: 26px;
      line-height: 36px;
    }
  }
  .default-header{
    h2{
      margin: 40px auto;
      color: @white-gold;
      font-size: 32px;
      font-weight: 400;
      line-height: 32px;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    }
  }
  //About
  .about-header{
    h2{

    }
  }
  //Services
  .services-header{
    h2{
      text-shadow: 0px 0px 25px rgba(0, 0, 0, 1.0);
    }
  }
  //Practice
  .practice-header{
    h2{
      text-shadow: 0 0 48px rgba(0,0,0,0.4);
    }
  }
  //FAQ
  .faq-header{
    h2{
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 1.0);
    }
  }
  //New Client Forms
  .newclientforms-header{
    h2{
      text-shadow: 0px 0px 45px rgba(0, 0, 0, 1.0);
    }
  }
  //Insurance
  .insurance-header{
    h2{
      text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    }
  }
  //Giving Back
  .givingback-header{
    h2{
      text-shadow: 0px 0px 55px rgba(0, 0, 0, 0.3);
    }
  }
}

//
// Homepage

// About (homepage)
.about-jova{
  .vc_column-inner{
    .wpb_wrapper{
      max-width: 600px;
      margin: 0 auto;
    }
  }
  h3,
  p{
    color: @white;
  }
}
.about-james{
  .vc_column-inner{
    .wpb_wrapper{
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .james-headshot{
    margin-bottom: 20px;
  }
  h3{
    margin-bottom: 0;
  }
  h4{
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
  }
  .more-about-jova{
    margin-top: 30px;
    p{
      a{
        font-family: @raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
      }
    }
    i.fa-arrow-circle-right{
      float: right;
      height: 30px;
      &:before{
        .fontawesome;
        content: '\f0a9';
        font-size: 30px;
      }
    }
  }
}

// Services
.services{
  .vc_column-inner{
    height: 200px;
    padding: 0 !important;
    a,
    a:visited{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
    }
    h3{
      padding: 10px;
      pointer-events: none;
      position: relative;
      color: white;
      i.fa-arrow-circle-right{
        display: inline-block;
        vertical-align: middle;
        height: 60px;
        &:before{
          .fontawesome;
          content: '\f0a9';
          font-size: 60px;
        }
      }
    }
    p{
      font-size: 0;
      text-indent: -1000px;
      color: rgba(0,0,0,0);
    }
  }
}

// Sub-page Icon Blocks
.sub-page-blocks{
  padding-top: 24px;
  padding-bottom: 24px;
}
.style-simple .icon_box .subpage-links{
  .desc_wrapper h4{
    margin-bottom: 12px;
    color: @dark-grey-blue;
    font-weight: 600;
  }
  .image_wrapper{
    margin-bottom: 10px;
    padding-top: 0;
  }
}
.icon_box a.subpage-links .desc{
  color: @jova-grey;
  font-size: 16px;
  line-height: 24px;
}

// Location Block (HOME)
.homepage-location{
  .jova-office{
    min-height: 400px;
    .vc_column-inner{
      background-position: top right !important;
    }
  }
  .jova-contact-box{
    position: absolute;
    top: -84px;
    right: 12px;
    left: 12px;
    padding: 18px 20px;
    background-color: @white;
    h4{
      margin-bottom: 6px;
      color: @jova-grey;
    }
    p{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    a,
    a:visited{
      font-family: @raleway;
      font-weight: 700;
      line-height: 24px;
      i.fa-arrow-circle-right{
        display: inline-block;
        margin-top: -2px;
        vertical-align: middle;
        height: 24px;
        &:before{
          .fontawesome;
          content: '\f0a9';
          font-size: 24px;
        }
      }
    }
    a:hover,
    a:active{

    }
  }
}

//
// ABOUT PAGE
.about-intro{
  .vc_column-inner{
    padding: 0 !important;
  }
  p{
    max-width: 920px;
    margin: 0 auto;
    color: @white;
    font-family: @raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }
}
.about-content{
  padding-top: 0px;
  padding-bottom: 48px;
  h3{
    margin-top: 24px !important;
    margin-bottom: 12px !important;
  }
  .wpb_single_image{
    margin: 20px 0px;
  }
  p{
    img{
      margin-top: 0 !important;
    }
  }
}

//
// SERVICES PAGE
.services-intro{
  padding-top: 36px;
  padding-bottom: 12px;

}
.services-section{
  .service-info{
    padding: 12px 0px;
  }
}
.jova-pricing{
  padding-top: 36px;
  padding-bottom: 48px;
  h3{
    margin-bottom: 24px !important;
  }
  .pricing-header{
    h4{
      margin-bottom: 0px;
      color: @white;
      font-size: 24px;
      line-height: 32px;
    }
    h5{
      color: @white;
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
    }
  }
  .pricing-info{
    padding: 12px 12px 80px 12px;
    a,
    a:visited{
      position: absolute;
      right: 0;
      bottom: 24px;
      left: 0;

      width: 150px;
      height: 42px;

      margin: auto;
      padding: 0 !important;

      color: @jova-grey;
      font-family: @raleway;
      font-size: 18px;
      font-weight: 600;
      line-height: 42px;

      background-color: @white-gold;
      -moz-border: 1px solid @gold !important;
      -webkit-border: 1px solid @gold !important;
      border: 1px solid @gold !important;
      -moz-border-radius: 21px;
      -webkit-border-radius: 21px;
      border-radius: 21px;
      &:hover,
      &:active{
        .transition-all;
        color: @jova-grey-darker;
        background-color: darken(@white-gold, 1%);
        border-color: darken(@gold, 10%) !important;
      }
    }
  }
}

//
// PRACTICE (OUR HEALING SPACE) PAGE
.practice-intro{
  padding-top: 24px;
  padding-bottom: 24px;
  p{
    font-size: 18px;
    line-height: 26px;
  }
}
.practice-info{
  padding-top: 24px;
  padding-bottom: 24px;
  .practice-parking{
    p{
      margin-top: 20px;
      color: lighten(@jova-grey, 10%);
      font-size: 16px;
      line-height: 20px;
    }
  }
  .practice-contact{
    p{
      margin-bottom: 6px;
      &:last-child{
        margin-bottom: 0;
      }
      .fa-phone{
        &:before{
          margin: 0 6px 0 0;
          color: @jova-blue;
          font-size: 22px;
        }
      }
      .fa-envelope{
        &:before{
          margin: 0 6px 0 0;
          color: @jova-blue;
        }
      }
    }
  }
  .practice-hours{
    p{
      line-height: 24px;
    }
  }
}


//
// FAQ PAGE
.jova-faqs{
  padding-top: 24px;
  padding-bottom: 24px;
  .faq{
    .question{
      background: @light-grey !important;
      border: none !important;
      &:after{
        display: none !important;
      }
      &.active{
        &:before{
          display: none !important;
        }
        .title{
          color: @jova-grey-darker;
          &:before{
            .transition-all;
            .fontawesome;
            content: '\f068';
            font-size: 12px;
            line-height: 24px;
          }
        }
      }
      .title{
        .transition-all;
        padding-right: 24px;
        padding-left: 24px;
        color: @jova-grey;
        font-family: @raleway;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        &:hover,
        &:active{
          color: @jova-blue;
          &:before{
            color: @jova-blue;
          }
        }
        &:before{
          .transition-all;
          .fontawesome;
          content: '\f067';
          float: right;
          margin-right: -12px;
          color: lighten(@jova-grey, 10%);
          font-size: 12px;
          line-height: 24px;
        }
      }
      .answer{
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 36px;
        padding-left: 24px;
        background: lighten(@light-grey, 3%) !important;
      }
    }
  }
}
.faq-form{
  padding-top: 24px;
  padding-bottom: 24px;
  h3{
    margin-bottom: 50px !important;
    color: @white;
  }
  .wpb_wrapper .wpcf7-form{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  form{
    p{
      color: @white;
      &:nth-child(2){

      }
      &:nth-child(3){

      }
      &:nth-child(5){
        width: 100%;
        margin: 0;
        text-align: center;
      }
      input, textarea{
        color: @jova-grey;
        &:focus{
          color: @jova-grey-darker;
          border-color: @white !important;
          background-color: @white !important;
        }
      }
      input[type="submit"]{
        margin: 0;
        padding: 16px 40px;
        color: @white !important;
        font-family: @raleway;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        background-color: @dark-blue !important;
        border: none !important;
        border-color: transparent;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        &:hover,
        &:active{
          background-color: darken(@dark-blue, 5%) !important;
        }
      }
      .ajax-loader{
        display: block;
        margin: 10px auto 0 auto;
        padding: 2px;
        background-color: @white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
      }
    }
  }
}

//
// NEW CLIENT FORMS PAGE
.newclientforms-content{
  padding-top: 24px;
  padding-bottom: 48px;
  h4{
    font-family: @roboto;
    font-weight: 400;
    line-height: 36px;
  }
  .download-button{
    a,
    a:visited{
      padding: 15px 30px;
      font-family: @raleway;
      font-size: 20px;
      font-weight: 600;
    }
    a:hover,
    a:active{

    }
  }
}

//
// INSURANCE PAGE
.insurance-content{
  padding-top: 24px;
  padding-bottom: 48px;
  p{
    font-size: 18px;
    line-height: 26px;
  }
}

//
// GIVING BACK PAGE
.givingback-intro{
  padding-top: 36px;
  padding-bottom: 48px;
  p{
    color: @white;
    font-size: 18px;
    line-height: 26px
  }
  blockquote{
    margin-left: 0 !important;
    p{
      font-size: 24px;
      line-height: 36px;
    }
  }
}
.givingback-content{
  padding-top: 24px;
  padding-bottom: 48px;
  p{
    font-size: 18px;
    line-height: 26px;
  }
}





//
//
//
// IPAD (portrait)
//
//
//
@media only screen and (min-width: 768px){

  p{
    line-height: 28px;
  }

  // Show Address (slogan)
  #Action_bar .contact_details li.slogan{
    display: inline-block;
  }

  // Main Nav
  #Top_bar{
    .logo{
      margin: 0 0 0 20px;
      img{
        width: 190px !important;
        height: 65px !important;
      }
    }
  }

  //Footer
  #Footer{
    p{
      line-height: 22px;
    }
    .column.one-fourth{
      &:nth-child(2){
        img{
          width: 90%;
        }
      }
    }
    .jova-contact-info{
      text-align: left;
    }
    .jova-hours{
      text-align: left;
    }
  }

  // Headers
  #jova-header{
    padding: 130px 0;
    h2{
      margin: 0 auto 20px auto;
      font-size: 35px;
      line-height: 50px;
      strong{
        font-size: 50px;
        line-height: 80px;
      }
    }
    .default-header{
      h2{
        margin: 60px auto;
        font-size: 80px;
        font-weight: 300;
        line-height: 80px;
        text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
      }
    }
    //About
    .about-header{
      h2{

      }
    }
    //Services
    .services-header{
      h2{
        text-shadow: 0px 0px 80px rgba(0, 0, 0, 1.0);
      }
    }
    //Practice
    .practice-header{
      h2{
        text-shadow: 0 0 100px rgba(0,0,0,0.4);
      }
    }
    //FAQ
    .faq-header{
      h2{
        text-shadow: 0px 0px 60px rgba(0, 0, 0, 1.0);
      }
    }
    //New Client Forms
    .newclientforms-header{
      h2{
        text-shadow: 0px 0px 100px rgba(0, 0, 0, 1.0);
      }
    }
    //Insurance
    .insurance-header{
      h2{
        text-shadow: 0px 0px 150px rgba(0, 0, 0, 0.3);
      }
    }
    //Giving Back
    .givingback-header{
      h2{
        text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .about-jova{
    .vc_column-inner{
      padding: 100px 24px !important;
    }
    h3{
      margin-bottom: 24px;
    }
    p{
      font-size: 24px;
      line-height: 36px;
    }
  }
  .about-james{
    .vc_column-inner{
      padding: 100px 24px !important;
    }
    .james-headshot{
      float: left;
      margin: -16px 20px 20px 0;
    }
    h3{
      margin-bottom: 8px;
    }
    .more-about-jova{
      float: right;
      p{
        a{
          font-size: 24px;
          line-height: 40px;
        }
      }
      i.fa-arrow-circle-right{
        height: 40px;
        &:before{
          .fontawesome;
          font-size: 40px;
        }
      }
    }
  }

  // Services
  .services{
    .vc_column-inner{
      height: 320px;
      height: ~"calc( 100vw / 4 )";
      max-height: 400px;
    }
    a:hover,
    a:active{
      background: rgba(0,0,0,0.25);
    }
  }

  // About
  .about-intro{
    p{
      font-size: 30px;
      line-height: 46px;
    }
  }
  .about-content{
    padding-top: 60px;
    padding-bottom: 150px;
    h3{
      margin-bottom: 24px !important;
    }
  }

  // Sub-page Icon Blocks
  .sub-page-blocks{
    padding-top: 90px;
    padding-bottom: 90px;
  }

  // Location Block (HOME)
  .homepage-location{
    .jova-contact-box{
      top: 200px;
      right: auto;
      left: 30px;
    }
  }

  //
  // SERVICES PAGE
  .services-intro{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .services-section{
    .service-info{
      padding: 70px 60px;
    }
  }
  .jova-pricing{
    padding-top: 100px;
    padding-bottom: 150px;
    h3{
      margin-bottom: 60px !important;
    }
    .pricing-info{
      padding: 40px 60px 100px 60px;
      a,
      a:visited{
        bottom: 50px;
      }
    }
  }

  //
  // PRACTICE (OUR HEALING SPACE) PAGE
  .practice-intro{
    padding-top: 50px;
    padding-bottom: 50px;
    p{
      font-size: 24px;
      line-height: 36px;
    }
  }
  .practice-info{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  //
  // FAQ PAGE
  .jova-faqs{
    padding-top: 100px;
    padding-bottom: 100px;
    .faq{
      .question{
        .title{
          &:after{
            margin-right: 0;
          }
        }
        .answer{
          padding-right: 100px;
        }
      }
    }
  }
  .faq-form{
    padding-top: 100px;
    padding-bottom: 150px;
    form{
      p{
        color: @white;
        &:nth-child(2){
          float: left;
          width: ~"calc( 50% - 12px )";
          margin-right: 24px;
        }
        &:nth-child(3){
          float: right;
          width: ~"calc( 50% - 12px )";
        }

        input[type="submit"]{
          padding: 16px 80px;
        }
      }
    }
  }

  //
  // NEW CLIENT FORMS PAGE
  .newclientforms-content{
    padding-top: 100px;
    padding-bottom: 150px;
  }

  //
  // INSURANCE PAGE
  .insurance-content{
    padding-top: 100px;
    padding-bottom: 150px;
    p{
      font-size: 24px;
      line-height: 36px;
    }
  }

  //
  // GIVING BACK PAGE
  .givingback-intro{
    padding-top: 100px;
    padding-bottom: 100px;
    p{
      font-size: 32px;
      line-height: 42px
    }
    blockquote{
      p{
        font-size: 60px;
        line-height: 80px;
      }
    }
  }
  .givingback-content{
    padding-top: 100px;
    padding-top: 150px;
    p{
      font-size: 24px;
      line-height: 36px;
    }
  }

}

//
//
//
// IPAD (landscape)
//
//
//
@media only screen and (min-width: 1024px){

  // Current Header Style (Be Themes)
  .header-classic,
  .header-stack{
    // Action Bar = address, phone, email, socials
    #Action_bar{
      .contact_details{
        li{
          margin-right: 30px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .social{
        padding: 10px 0;
        li{
          margin-right: 0px;
        }
      }
    }
  }

  // Main Nav
  #Top_bar{
    .logo{
      img{
        width: 260px !important;
        height: 89px !important;
      }
    }
    .menu > li > a,
    .top_bar_right a{
      span{
        &:not(.description){
          padding: 0 24px;
        }
      }
    }
    // Book Appointment Button
    #menu-item-31{
      margin-left: 30px;
      a,
      a:visited{
        span{
          padding: 0 36px !important;
        }
      }
    }
  }

  // Underline on menu
  .menu-line-below #Top_bar .menu > li > a:after{
    bottom: auto;
    width: 90%;
    width: ~"calc(100% - 40px)";
    left: 0;
    right: 0;
    margin: auto;
  }

  // Book Appointment Button
  #menu-item-31{
    margin-left: 30px !important;
    //hide underline
     a:after{
      display: none !important;
    }
  }

  // Headers
  #jova-header{
    .default-header{
      h2{
        font-size: 100px;
        line-height: 100px;
      }
    }
  }


  // Location Block (HOME)
  .homepage-location{
    .jova-contact-box{
      top: 120px;
      right: 10px;
      left: auto;
    }
  }

  .services-section{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
  }

  //
  // PRACTICE (OUR HEALING SPACE) PAGE
  .practice-info{

  }

  // Footer
  #Footer{
    // 1st column
    .column.one-fourth:first-child{
      .jova-mission-statement{
        .jova-mission-statement-container{
          max-width: 780px;
        }
      }
      .jova-cta{
        padding: 40px 0;
        h3{
          display: inline-block;
          margin: 0 60px 0 0;
        }
      }
    }
    // 2nd column - Logo
    .column.one-fourth{
      // second column needs to get reset to half width
      &:nth-child(2){
        display: block;
        width: 48%;
        margin: 0 1%;
      }
    }
    // 3rd column - Get in Touch
    .column.one-fourth{
      &:nth-child(3){
        width: 23%;
        margin: 0 1%;
      }
    }
    // 4th column - Hours
    .column.one-fourth{
      &:nth-child(4){
        width: 23%;
        margin: 0 1%;
      }
    }
  }

}


//
//
//
// DESKTOP
//
//
//
@media only screen and (min-width: 1240px){

  // Main Nav
  #Top_bar{
    .logo{
      margin: 0;
      img{
        width: 320px !important;
        height: 110px !important;
      }
    }
    .menu_wrapper{
      margin: 0;
    }
  }

  // Location Block (HOME)
  .homepage-location{
    .jova-contact-box{
      right: 80px;
    }
  }


  // Footer
  #Footer{
    // 2nd column - Logo
    .column.one-fourth{
      &:nth-child(2){
        img{
          width: 100%;
          max-width: 500px;
        }
      }
    }
  }

}


//
//
//
// REALLY BIG SCREENS
//
//
//
@media only screen and (min-width: 1600px){
  .services-section{
    left: -210px !important;
  }
}

//
//
//
// MOBILE ONLY STYLES
//
//
//
@media only screen and (max-width: 767px){

  .vc_row{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  h3{
    font-size: 24px;
    line-height: 28px;
  }

  // Less space on left & right sides
  .section_wrapper,
  .section:not(.full-width) > .section_wrapper,
  .container,
  .four.columns .widget-area{
    max-width: 90%;
    max-width: ~"calc(100% - 24px)" !important;
  }

  // Action Bar = address, phone, email, socials
  #Action_bar{
    .contact_details{
      padding: 24px 0 0 0;
      line-height: 18px;
      // Show Address (slogan)
      li{
        display: block;
        margin: 0 0 12px 0;
        &.slogan{
          display: inline-block;
        }
      }
    }
    .social{
      margin-bottom: 18px;
    }
  }

  // Main Nav
  #Top_bar{
    .top_bar_left{
      margin-top: 0;
    }
    .logo{
      margin: 0;
      #logo{
        margin: 24px 0;
        img{
          height: auto !important;
        }
      }
    }
  }
  // Hide Menu Toggle
  .responsive-menu-toggle{
    display: none !important
  }
  // Show Menu (always instead of on toggle)
  #menu{
    display: block !important;
  }
  // Menu Styles
  #Top_bar{
    #menu{
      padding-bottom: 24px;
      ul li{
        background-color: @light-grey;
        text-align: center;
        a{
          padding: 0;
          span{
            line-height: 40px;
          }
        }
        &.submenu{
          .menu-toggle{
            display: block;
            width: 40px;
            height: 40px;
            color: @jova-grey;
            font-size: 20px;
            line-height: 40px;
            border-left: 2px solid @white;
            &:after{
              .fontawesome;
              content: '\f103';
            }
          }
          &.hover{
            .menu-toggle{
              &:after{
                .fontawesome;
                content: '\f102';
              }
            }
          }
        }
        ul{
          padding: 2px 0 0 0;
          li{
            background-color: lighten(@light-grey, 3%);
            margin-bottom: 2px;
            font-size: 16px;
            text-align: left;
            &:last-child{
              margin-bottom: 0;
            }
            a{
              padding: 6px 12px;
              span{
                line-height: 24px;
              }
            }
          }
        }
      }
    }
    .menu{
      li{
        margin-bottom: 4px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  // Active Menu Item
  #Header #menu > ul > li{
    &.current-menu-item,
    &.current_page_item,
    &.current-menu-parent,
    &.current-page-parent,
    &.current-menu-ancestor,
    &.current_page_ancestor{
      & > a{
        background: @jova-blue;
        color: @white;
      }
      &.submenu .menu-toggle{
        color: white;
      }
    }
  }

  // Book Appointment Button
  #Top_bar #menu-item-31{
    margin-top: 20px !important;
    background-color: transparent !important;
    a{
      display: block !important;
      span{
        padding: 16px 36px !important;
        line-height: 60px !important;
        -moz-border: 1px solid @gold !important;
        -webkit-border: 1px solid @gold !important;
        border: 1px solid @gold !important;
      }
    }
  }

  .about-jova{
    .vc_column-inner{
      padding-bottom: 35px;
    }
    h3,
    p{
      text-align: center;
    }
  }
  .about-james{
    .james-headshot{
      text-align: center;
    }
    h3{
      text-align: center;
    }
    h4{
      margin-bottom: 15px !important;
      text-align: center;
    }
    p{
      text-align: center;
    }
    .more-about-jova{
      margin-bottom: 35px;
    }
  }
  // Sub-page Icon Blocks
  .sub-page-blocks.vc_custom_1459062379240{
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }

  //
  // ABOUT PAGE
  .about-intro{
    padding-right: 24px !important;
    padding-left: 24px !important;
  }
  .about-content{
    .vc_column-inner{
      padding: 0 !important;
    }
    h3{
      //text-align: center;
    }
    p{
      img{
        width: 100%;
        margin: 0 0 20px 0 !important;
      }
    }
  }

  //
  // SERVICES PAGE
  .services-intro{
    padding-right: 0px !important;
    padding-left: 0px !important;
    p{
      padding: 0 12px;
    }
    .vc_column-inner{
      padding: 0 !important
    }
    .vc_column_container.vc_col-sm-6{
      margin-bottom: 24px;
    }
  }
  #herbal-medicine{
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 200px;
      background-image: url('http://jovaacupuncture.com/wp-content/uploads/herbal-medicine.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  #cupping{
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 200px;
      background-image: url('http://jovaacupuncture.com/wp-content/uploads/cupping.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  #tui-na-massage{
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 200px;
      background-image: url('http://jovaacupuncture.com/wp-content/uploads/tui-na-massage.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .jova-pricing{
    padding-right: 0;
    padding-left: 0;
    .vc_column-inner, .vc_row.vc_column-gap-20>.vc_column_container{
      padding: 0 !important;
    }
    .vc_col-sm-6{
      margin-bottom: 12px !important;
    }
    .pricing-info{
      text-align: center;
    }
  }

  //
  // PRACTICE (OUR HEALING SPACE) PAGE
  .practice-intro{
    .wpb_single_image .vc_single_image-wrapper{
      margin-bottom: 12px;
    }
  }
  .practice-map{
    height: 250px;
    overflow: hidden;
    .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{
      bottom: 210px !important;
    }
  }

  //
  // GIVING BACK PAGE
  .givingback-intro, .givingback-content{
    .vc_column-inner{
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    .wpb_single_image .vc_single_image-wrapper{
      margin-bottom: 12px;
    }
  }


  // Footer
  #Footer{
    // 1st column
    .column.one-fourth:first-child{
      .jova-mission-statement{
        .jova-mission-statement-container{
          width: ~"calc( 100vw - 48px )";
          h3{
            font-size: 26px;
            line-height: 36px;
          }
        }
      }
      .jova-cta{
        .jova-cta-container{
          width: ~"calc( 100vw - 48px )";
        }
        a,
        a:visited{
          font-size: 22px;
          span{
            padding: 0 24px !important;
          }
        }
        h3{
          line-height: 50px;
        }
      }
    }
    .jova-contact-info{
      margin: 24px auto;
      text-align: center;
    }
    .jova-hours{
      text-align: center;
    }
  }

}

//
//
//
// 960 ONLY STYLES, REEEEALLY!?
//
//
//
@media only screen and (min-width: 768px) and (max-width: 959px){
  #Header #menu > ul > li.current-menu-item > a, #Header #menu > ul > li.current_page_item > a, #Header #menu > ul > li.current-menu-parent > a, #Header #menu > ul > li.current-page-parent > a, #Header #menu > ul > li.current-menu-ancestor > a, #Header #menu > ul > li.current_page_ancestor > a{
    background: transparent;
  }
}
